

.divout
         {
           margin: auto 0;
           position: absolute;
           bottom:0px;
           width: 1500px;
         }
         .divout div
         {
           width: 50px;
           height: 30px;
           border: 1px solid rgb(201, 182, 182);
         
         }
          ul
                    {
                        width: 1500px;
                    }
                    ul li{ 
                      display: inline; 
                      float: left;
                      border: 3px solid rgb(136, 89, 89);
                      width: 180px;
                      line-height: 40px;
                      height: 300px;
                     }
                     ul li span{
                      padding-left: 90px;
                     }