body {
  border-style:solid;
	border-width:5px;
  background-color: yellow;
  height:950px;
  width: 1280px;
  
}

.divout
{
  margin: auto 0;
  position: absolute;
  width: 1000px;
  height:260px;
  bottom: 0%;
}
.divout div
{
  
  float:left ;
}
ul
{
  height:950px;
    width: 1280px;
      bottom: 0%;
}
ul li{ 
  bottom: 0%;
  display: inline; float: left;
  border: 3px solid black;
  width: 150px;
  line-height: 50px;
  height: 250px;
 }
 ul li span{
  padding-left: 100px;
 }

 #divimg{
   position:absolute; 
   width:1000px;
   height: 50px;
   bottom:65%;
   margin:0 auto;
   margin-left: 20%;
   margin-right: 20%;
   text-align: center;
 }
 #divimg img{ width: 700px; height: 700px;}