html, *{
  box-sizing: border-box;
}
@font-face {
  font-family: "OpenSans";
  src: url(./assert/OpenSans.ttf);
}
body {
  margin:0;
  
  
}
.music-box{
  background-color: #fff1d2;
  border-style:solid;
  width: 100%;
	border-width:5px;
  height: 100vh;
  position: relative;  
  /* cancel */
}

.music-box_black{
  background-color: #C0C0C0;
  border-style:solid;
  width: 100%;
	border-width:5px;
  height: 100vh;

}

h1{
  font-family: OpenSans;
  font-size: 4rem;
}



.music-keys{
  display: flex;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-content: stretch;
  justify-content: space-between;


}
.music-keys li{
  height: 300px;
  width: calc(100%/7);
  border: 3px solid #00BFFF;
}

#divimg{
  position: absolute;
 top: 10%;
  width: 1000px;
  height: 50px;
left: 50%;
transform: translate(-50%);
text-align: center;
}

#divimg img{
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
#myDIV{
  font-size: 32px;
color: black;
font-family: OpenSans;
}


.btn{
  float: right;
  width: 100px;
  height:100px;
  margin-right:100px;
}

.blur{
  filter:blur(10px);
  -webkit-filter:blur(10px);
}

.btn-blur{
  cursor: pointer;
  background-color: #f63;
  padding:20px;
  display: block;
  text-align: center;
  border-radius: 4px;
  width: 60%;
  margin:0 auto;
}

.elastic-layer{
 background-color:rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index:1000;
}
.close
{
display: none;
}
.content
{
width: 100%;
height: 100%;
}

.login-panel{
  width:100%;
  height:10%;
  background-color:#fff;
  border-radius:4px;
  margin:0 auto;
  position:absolute;
  z-index: 2000;
}
